/*--------------------------------------------------------------
CSS template VemGerir.com.br

# Menu
# Headlines
# Header
# Header HR
# Conteudo-pagina-inicial
# Footer
--------------------------------------------------------------*/



/*--------------------------------------------------------------
# Menu
--------------------------------------------------------------*/
 
/*# Menu - Ajustes de Floats*/ 

.site-logo{
	float:left;
}

.main-navigation, .site-login, .site-fb{
	float:right;
}

/*# Menu - Tipografia e efeito hover (border-bottom) Menu WP*/

.main-navigation a, .main-navigation a:visited {
	font-family: "co-headline";
	font-size: 16px;
	color: #464A4A;
	word-spacing: -2px;
}

.main-navigation a:hover, .main-navigation a:focus{
	border-bottom: 2px solid #3BD231; 
	color: #3BD231;
	text-decoration:none; 
}

.main-navigation a{
	border-bottom: 2px solid #f0f0f0; 
	height: 58px; /*Menos 2px do reajuste de borda dos botôes*/
	display: block;
}

/*# Menu - Tipografia e efeito hover botôes */

.site-login, .site-fb{
	font-family: "co-headline";
	font-size: 16px;
	border: 2px solid #3BD231;
	color: #3BD231;
	word-spacing: -2px;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
	border-radius: 3px;
}

.site-fb a, .site-login a {
	display: block; /*para o link ocupar toda a div e o hover no link mudar o fundo da div */
	
}	

.site-fb {
	font-size: 18px;

}

.site-login a:visited,.site-fb a:visited{
/*	margin: 5px;*/
	color: #3BD231;
}

.site-login a:hover, .site-fb a:hover, .site-login a:focus, .site-fb a:focus {
	text-decoration: none;
	background-color: #3BD231;
	color: white; 
}

/*# Menu - Ajustes de posicionamento entre menu WP e botões */

.main-navigation{
	padding-top: 2px; /*reajuste de borda para alinhar com os botôes*/
}

.site-login a {
	padding: 0px 10px;
}

.site-fb a {
	padding: 3px 8px;
}

.main-navigation li{
	margin-left:15px;
}

.site-login, .site-fb{
	margin-left:15px;	
}

/*# Menu - highlight do item corrente */

.main-navigation li .current-menu-item a, .current_page_item a{
	color:#3BD231 !important; 
}

/*# Menu - Menu dropdown login */

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  float: right;
  border-radius: 3px;    
}

nav li {
  float: left;          
}

nav #login-trigger {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  height: 25px;
  line-height: 25px;
  padding: 0 8px;
  text-decoration: none;

}

nav #login-trigger {
  border-radius: 3px 0 0 3px;
}

nav #login-trigger:hover,
nav #login .active {
background: #3BD231;
color: white;
}

nav #login-content {
  display: none;
  position: absolute;
  top: 24px;
  right: -2px;
  z-index: 999;    
  background: #3BD231;
  background-image: linear-gradient(top, #fff, #eee);  
  padding: 15px;
  box-shadow: 0 2px 2px -1px rgba(0,0,0,.9);
  border-radius: 3px 0 3px 3px;
}

nav li #login-content {
  right: -2px;
  width: 200px;  
}

.input-group{
	margin: 10px 0px;
}

.glyphicon {
    top: 0px;
}

/*# Menu - Menu dropdown login - Botão submit */

form .submit-input {
	width: 100%;
	background-color: white;
	color: #3BD231;
	font-family: "co-headline";
	font-size: 16px;
	margin-top: 15px;
}

form .submit-input:hover {
	font-weight: bold;
}

/*--------------------------------------------------------------
# Headlines
--------------------------------------------------------------*/

h1 {
	font-family: "co-headline";
	font-size: 40px;
	color: #464A4A;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.site-header {
	height: 90px;
	border-bottom: 2px solid #f0f0f0;

}

.site-header div.container{
	padding-top:  30PX;
	/* position: relative;
	top: 35%;*/
	/*transform: translateY(-50%);*/

}
  
.logo-header-image {
	width:150px;
	
}

/*--------------------------------------------------------------
# Header HR
--------------------------------------------------------------*/

.hr-div span {
	background: #fff;
    float:left;
	margin-top: -10px;
	padding-right: 10px;
}

.hr-div hr {
	height: 1px;
	background-color: #f0f0f0;
	margin-bottom: 25px;
}

.hr-div-esp {
	height: 3px;
	background-color: transparent;
	margin-bottom: 40px;
}

.hr-div span {
	font-family: "co-headline";
	font-size: 14px;
	color: #464A4A;
}

.hr-table{
	height: 2px;
	background-color: white;
	margin: 10px 35px;	
}



/*--------------------------------------------------------------
# Conteudo-pagina-inicial
--------------------------------------------------------------*/

.site-main-intro {
	height: 300px;
	background-color: #f5f5f5;
	margin-bottom:15px ;
}

.site-main-intro h1{
	position: relative;
	top: 50%;
	transform: translateY(-50%);	
	text-align: center;
	font-weight: bold;
}

.content-area p{
	font-family: "interface";
	text-align: center;
	font-size: 15px;
	margin:0px;
}

.content-area h1{
	text-align: center;
	margin:0px;
}

.site-main-clientes{
	/*alterar pelo placeholder*/
}

.site-main-clientes-descricao{
	/*alterar pelo placeholder*/
}

.site-main-clientes-depoimentos{
	/*alterar pelo placeholder*/
}

.site-main-consultoria {
	/*alterar pelo placeholder*/	
}
.site-main-consultoria-descricao {
	/*alterar pelo placeholder*/	
}

.site-main-sistema{
	/*alterar pelo placeholder*/
}

.site-main-sistema-descricao {
	/*alterar pelo placeholder*/	
}

.site-main-sistema-imagem {
	/*alterar pelo placeholder*/	
}


/*--------------------------------------------------------------
# Conteudo-pagina-inicial
--------------------------------------------------------------*/
 
.site-main-planos{
	margin-top: 20px;
}

.tabela-planos{
	width: 28%;
	min-width: 265px;
	float:left;
	margin-left: 4%;
	margin-bottom: 20px;
	
}

.botao-tabela{
	width: 50%;
	font-family: "co-headline";
	font-size: 16px;
	background-color: white;
	display: block;
	margin-top: -25px;
    margin-left: 25%;
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
	border-radius: 4px;
}

.botao-tabela:hover{
	font-weight: bold;
	text-decoration: none;
}

.botao-tabela:visited {
	text-decoration: none;	
}

.nome-plano, .valor-plano, .peridiocidade-plano {
 	text-align: center;
 	font-family: "co-headline";
 	color: white;
 }

.nome-plano{
	font-size: 20px;
	font-weight: lighter;
	
}

.valor-plano{
	font-size: 28px;
	font-weight: lighter;
}

.peridiocidade-plano{
	font-size: 16px;
	font-weight: lighter;
}

.icone-propriedade{
	float:left;
	width:20%;
	height: 3em;
	padding-left: 9px;
}

.icone-propriedade i {
	margin-top: 7px;	
}

.descricao-propriedade{
	margin-top: 10px;
	width:80%;
	height: 3em;
	float: right;
}


/* --Cores Tabela*/

/* ------verde escuro*/

.verde-a table, .verde-a table td {
	border: 1px solid #1D9649;
}

.verde-a i {
	color: #1D9649;
}

.verde-a table thead {
	background-color: #1D9649; 
}

.verde-a .botao-tabela{
	color: #1D9649;	
	border: 2px solid #1D9649;	
}

.verde-a.botao-tabela:visited{
	color: #1D9649;	
}

/* ------verde limao*/

.verde-b table, .verde-b table td {
	border: 1px solid #3BD231;
}

.verde-b i {
	color: #3BD231;
}
.verde-b table thead {
	background-color: #3BD231; 
}

.verde-b .botao-tabela{
	color: #3BD231;	
	border: 2px solid #3BD231;	
}

.verde-b.botao-tabela:visited{
	color: #3BD231;	
}

/* ------verde claro*/


.verde-c table, .verde-c table td {
	border: 1px solid #ABE11E;
}

.verde-c i {
	color: #ABE11E;
}
.verde-c table thead {
	background-color: #ABE11E; 
}

.verde-c .botao-tabela{
	color: #ABE11E;	
	border: 2px solid #ABE11E;	
}

.verde-c.botao-tabela:visited{
	color: #ABE11E;	
}

/* ------cinza*/

.cinza i {
	color: #464A4A;
}


/*--------------------------------------------------------------
# Conteudo-pagina-sistema
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

html{
  position:relative; 
  min-height: 100%;
}

#content{
 	margin-bottom:90px;
} 
.site-footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height:90px;
	background-color: #3BD231;
}

.logo-footer-image {
	margin-top: 20px;	
	margin-bottom: 10px;	
	width:120px;
}

.info-vemrir-footer p{
	padding-left: 5px;
	color: white;
	float: left;
	font-family: "interface";
	font-size: 10px;

}



/*--------------------------------------------------------------
# Place holder
--------------------------------------------------------------*/
.placeholder-descricao{
	height:200px;
	font-family: "co-headline";
	font-size: 28px;
	color: #464A4A;
	line-height: 0.9;
}

.placeholder-depoimentos{
	height:200px;
	background-color: #f5f5f5;
}

.placeholder-consultoria{
	height:300px;
	background-color: #f5f5f5;
}

.placeholder-sistema-descricao{
	height:300px;
	font-family: "co-headline";
	font-size: 28px;
	color: #464A4A;
	line-height: 0.9;

}

.placeholder-sistema-imagem{
	height:300px;
	background-color: #f5f5f5;
	border: 1px solid black;
}