/*--------------------------------------------------------------
CSS template VemGerir.com.br

# Container
# Menu
# Headlines
# Paragrafos
# Header
# Header HR
# Conteudo-pagina-inicial
# Conteudo-pagina-planos
# Conteudo-pagina-sistema
# Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Tipografia Typekit
--------------------------------------------------------------*/


.wf-loading {
  opacity: 0;
  transform: translateY(-20px);
  -webkit-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
}


/*--------------------------------------------------------------
# Container
--------------------------------------------------------------*/

@media (min-width: 1200px){
	.container {
    width: 1000px !important;
	}	
}
/*
@media (min-width: 992px){
	.container {
	    width: 800px !important;
	}
}
@media (min-width: 768px){
	.container {
    width: 700px !important;
	}	
}*/


/*--------------------------------------------------------------
# Menu
--------------------------------------------------------------*/
 
/*# Menu - Ajustes de Floats*/ 

.site-logo{
	float:left;
}

.main-navigation, .site-login, .site-fb{
	float:right;
}

/*# Menu - Tipografia e efeito hover (border-bottom) Menu WP*/

.main-navigation a, .main-navigation a:visited {
	font-family: "co-headline";
	font-size: 16px;
	color: #464A4A;
	word-spacing: -2px;
}

.main-navigation a:hover, .main-navigation a:focus{
	border-bottom: 2px solid #3BD231; 
	color: #3BD231;
	text-decoration:none; 
}

.main-navigation a{
	border-bottom: 2px solid #f0f0f0; 
	height: 58px; /*Menos 2px do reajuste de borda dos botôes*/
	display: block;
}

/*# Menu - Tipografia e efeito hover botôes */

.site-login, .site-fb{
	font-family: "co-headline";
	font-size: 16px;
	border: 2px solid #3BD231;
	color: #3BD231;
	word-spacing: -2px;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
	border-radius: 3px;
}

.site-fb a, .site-login a {
	display: block; /*para o link ocupar toda a div e o hover no link mudar o fundo da div */
	color: 	#3BD231;
}	

.site-fb {
	font-size: 18px;

}

.site-login a:visited,.site-fb a:visited{
/*	margin: 5px;*/
	color: #3BD231;
}

.site-login a:hover, .site-fb a:hover, .site-login a:focus, .site-fb a:focus {
	text-decoration: none;
	background-color: #3BD231;
	color: white; 
}

/*# Menu - Ajustes de posicionamento entre menu WP e botões */

.main-navigation{
	padding-top: 2px; /*reajuste de borda para alinhar com os botôes*/
}

.site-login a {
	padding: 0px 10px;
}

.site-fb a {
	padding: 3px 8px;
}

.main-navigation li{
	margin-left:15px;
}

.site-login, .site-fb{
	margin-left:15px;	
}

/*# Menu - highlight do item corrente */

.main-navigation li .current-menu-item a, .current_page_item a{
	color:#3BD231 !important; 
}

/*# Menu - Menu dropdown login */

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  float: right;
  border-radius: 3px;    
}

nav li {
  float: left;          
}

nav #login-trigger {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  height: 25px;
  line-height: 25px;
  padding: 0 8px;
  text-decoration: none;

}

nav #login-trigger {
  border-radius: 3px 0 0 3px;
}

nav #login-trigger:hover,
nav #login .active {
background: #3BD231;
color: white;
}

nav #login-content {
  display: none;
  position: absolute;
  top: 24px;
  right: -2px;
  z-index: 999;    
  background: #3BD231;
  background-image: linear-gradient(top, #fff, #eee);  
  padding: 15px;
  box-shadow: 0 2px 2px -1px rgba(0,0,0,.9);
  border-radius: 3px 0 3px 3px;
}

nav li #login-content {
  right: -2px;
  width: 200px;  
}

.input-group{
	margin: 10px 0px;
}

.glyphicon {
    top: 0px;
}

/*# Menu - Menu dropdown login - Botão submit */

form .submit-input {
	width: 100%;
	background-color: white;
	color: #3BD231;
	font-family: "co-headline";
	font-size: 16px;
	margin-top: 15px;
}

form .submit-input:hover {
	font-weight: bold;
}

/*# Menu - Menu responsivo */

/* Menu - Menu responsivo - botão */

#toggle {
  display: none;
  width: 28px;
  height: 30px;
  float:right;
  margin-left: 15px;
  padding-top: 5px;
}


#menu{
	display: none;
	float: right;
}

#toggle span:after,
#toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
}
#toggle span:after{
  top: 9px;
}
#toggle span {
  position: relative;
  display: block;
  
}

#toggle span,
#toggle span:after,
#toggle span:before {
  width: 100%;
  height: 5px;
  background-color: #3BD231;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;
}

/* Menu - Menu responsivo - icone menu */

#toggle.on span {
  background-color: transparent;
}
#toggle.on span:before {
  transform: rotate(45deg) translate(5px, 5px);
}
#toggle.on span:after {
  transform: rotate(-45deg) translate(7px, -8px);
}
#toggle.on + #menu {
  opacity: 1;
  visibility: visible;
}

/* Menu - Menu responsivo - itens menu */

#menu {
  position: absolute;
  top:90px;
  color: purple;
  text-align: center;
  font-family: "co-headline";
  font-size: 16px;
  color: white;
  word-spacing: -2px;
  border-radius: 4px;
  background: white;
  box-shadow: 0 1px 8px rgba(0,0,0,0.05);
  /* just for this demo */
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: #3BD231;
  float:right;
  margin: 0 -15px;
  /*display: none;*/
}

#menu ul, #menu li, #menu li a, #menu .current-menu-item a, #menu .current_page_item a{
  list-style: none;
  display: block;
  margin: 0;
  color: white !important;
  padding: 0;
  background-color: #3BD231;
  width: 100%;
}

#menu li a:visited {
  color:white;
  text-decoration: none;
}

#menu li a:hover,
#menu li a:focus {
  border-bottom: 2px solid white;
  text-decoration: none;
}

#menu li{
	padding: 8px ;
}

#menu li:hover{
	
	
}

/*# Menu - AJustes Midia Query */

#login .area-cliente-icon{
	display: none;
}

@media screen and (max-width: 990px) {
    #login .area-cliente-icon {
    	display: block;
    	height: 100%;
    	width: 100%;
    	margin-top: 5px;
    }
    .main-navigation li {
    	margin-left: 15px;
	}

    #login .area-cliente-text{
    	display: none;
    }
    nav #login-trigger{
    	/*height: 0;*/
    }
    nav #login-trigger:hover,nav #login .active {
		background: #3BD231;
		color: white;
	}
}

@media screen and (max-width: 780px) {
	#toggle {
		display: block;
		height: 4px;
		padding-top: 10px;
	}

	#menu{
		display: block;
	}

	.menu-menu_principal-container{
		display: none;
	}

	#menu a {
    	border: 0;
	}

	#menu a:hover, #menu a:focus  {
		border:none !important;
	}


}







/*--------------------------------------------------------------
# Headlines
--------------------------------------------------------------*/

h1 {
	font-family: "co-headline";
	font-size: 40px;
	color: #464A4A;
	font-weight: normal;
}

h2 {
	font-family: "co-headline";
	font-size: 30px;
	color: #464A4A;
	font-weight: normal;
}

.hmargem {
	margin-top: 30px !important;
}


/*--------------------------------------------------------------
# Paragrafos
--------------------------------------------------------------*/

p.texto {

	font-family: "interface";
	line-height: 1.4;
	text-align: left;
	font-size: 20px;
	margin-top: 15px;
	margin-bottom: 15px;

}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.site-header {
	height: 90px;
	border-bottom: 2px solid #f0f0f0;

}

.site-header div.container{
	padding-top:  30PX;
	/* position: relative;
	top: 35%;*/
	/*transform: translateY(-50%);*/

}
  
.logo-header-image {
	width:150px;
	
}

/*--------------------------------------------------------------
# Header HR
--------------------------------------------------------------*/

.hr-div span {
	background: #fff;
    float:left;
	margin-top: -10px;
	padding-right: 10px;
}

.hr-div hr {
	height: 1px;
	background-color: #f0f0f0;
	margin-bottom: 25px;
}

.hr-div-esp {
	height: 3px;
	background-color: transparent;
	margin-bottom: 40px;
}

.hr-div span {
	font-family: "co-headline";
	font-size: 14px;
	color: #464A4A;
}

.hr-table{
	height: 2px;
	background-color: white;
	margin: 10px 35px;	
}



/*--------------------------------------------------------------
# Conteudo-pagina-inicial
--------------------------------------------------------------*/

.site-main-intro {
	height: 300px;
	background-color: #f5f5f5;
	margin-bottom:15px ;
}

.site-main-intro h1{
	position: relative;
	top: 50%;
	transform: translateY(-50%);	
	text-align: center;
	font-weight: bold;
}



.content-area h1{
	text-align: center;
	margin:0px;
}

.centralizar{

	position: relative;
	top: 50%;
	transform: translateY(-50%);
  

}


.info-box {
	height: 380px;
	background-color: #F5F5F5;
	padding:28px;
	margin-bottom: 15px;


}

p.header{

	font-family: "co-headline";
	font-size: 45px;
	font-weight: lighter;
	margin-bottom: -38px;
	text-align: center;


}

p.texto-box{
	margin-top: 40px;

}

.site-main-clientes{
	/*alterar pelo placeholder*/
}

.site-main-clientes-descricao{
	/*alterar pelo placeholder*/
}

.site-main-clientes-depoimentos{
	/*alterar pelo placeholder*/
}

.site-main-consultoria {
	/*alterar pelo placeholder*/	
}
.site-main-consultoria-descricao {
	/*alterar pelo placeholder*/	
}

.site-main-sistema{
	/*alterar pelo placeholder*/
}

.site-main-sistema-descricao {
	/*alterar pelo placeholder*/	
}

.site-main-sistema-imagem {
	/*alterar pelo placeholder*/	
}

/*Blockquote teste*/

.testimonial-quote {
  font-size: 16px;
}

.testimonial-quote blockquote {
  /* Negate theme styles */
  border: 0;
  margin: 0;
  padding: 0;
  background: none;
  color: gray;
  font-family: interface;
  font-size: 20px;
  font-style: italic;
  line-height: 1.4 !important;
  margin: 0;
  position: relative;
  text-shadow: 0 1px white;
  z-index: 600;
}

.testimonial-quote blockquote * {
  box-sizing: border-box;
}

.testimonial-quote blockquote p {
  color: #75808a;
  line-height: 1.4 !important;
}

.testimonial-quote blockquote p:first-child:before {
  content: '\201C';
  color: #81bedb;
  font-size: 7.5em;
  font-weight: 700;
  opacity: .3;
  position: absolute;
  top: -.4em;
  left: -.2em;
  text-shadow: none;
  z-index: -300;
}

.testimonial-quote img {
  border: 3px solid #9CC1D3;
  border-radius: 50%;
  display: block;
  width: 120px;
  height: 120px;
  position: absolute;
  top: -.2em;
  left: 0;
}

.testimonial-quote cite {
  color: gray;
  display: block;
  font-size: .8em;
}

.testimonial-quote cite span {
  color: #5e5e5e;
  font-size: 1em;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: 0 1px white;
}

.testimonial-quote {
  position: relative;
}

.testimonial-quote .quote-container {
  padding-left: 160px;
}

.testimonial-quote.right .quote-container {
  padding-left: 0;
  padding-right: 160px;
}

.testimonial-quote.right img {
  left: auto;
  right: 0;
}

.testimonial-quote.right cite {
  text-align: right;
}



/*--------------------------------------------------------------
# Conteudo-pagina-planos
--------------------------------------------------------------*/
 
.site-main-planos{
	margin-top: 20px;
}

.tabela-planos{
	width: 28%;
	float:left;
	margin-left: 4%;
	margin-bottom: 20px;
	
}

.tabela-planos tr{
	height: 50px;
}

.botao-tabela{
	width: 50%;
	font-family: "co-headline";
	font-size: 16px;
	background-color: white;
	display: block;
	margin-top: -25px;
    margin-left: 25%;
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
	border-radius: 4px;
}

.botao-tabela:hover{
	font-weight: bold;
	text-decoration: none;
}

.botao-tabela:visited {
	text-decoration: none;	
}

.nome-plano, .valor-plano, .peridiocidade-plano {
 	text-align: center;
 	font-family: "co-headline";
 	color: white;
 }

.nome-plano{
	font-size: 20px;
	font-weight: lighter;
	
}

.valor-plano{
	font-size: 28px;
	font-weight: lighter;
}

.peridiocidade-plano{
	font-size: 16px;
	font-weight: lighter;
}

.icone-propriedade{
	float:left;
	width:20%;
	height: 3em;
	padding-left: 9px;
}

.icone-propriedade i {
	margin-top: 7px;	
}

.descricao-propriedade{
	margin-top: 10px;
	width:80%;
	height: 3em;
	float: right;
}

.extra-planos-header{
	text-align: center;
	background-color: white;
	z-index: 2;
    position: relative;
    top: -5%;
    margin: 0 35%;
}

.extra-planos{
	border: 2px solid #f0f0f0;
	height: 350px;
	margin-top: 40px;
	display: block;
	margin-bottom: 20px;
}

.texto-disclaimer p{
	margin-bottom: 10px;
	font-size: 20px;
	text-align: left;
	font-size: 14px;
    line-height: 1.1;
} 

/* --Cores Tabela*/

/* ------verde escuro*/

.verde-a table {
	border: 1px solid #1D9649;
}

.verde-a i {
	color: #1D9649;
}

.verde-a table thead {
	background-color: #1D9649; 
}

.verde-a .botao-tabela{
	color: #1D9649;	
	border: 2px solid #1D9649;	
}

.verde-a.botao-tabela:visited{
	color: #1D9649;	
}

/* ------verde limao*/

.verde-b table {
	border: 1px solid #3BD231;
}

.verde-b i {
	color: #3BD231;
}
.verde-b table thead {
	background-color: #3BD231; 
}

.verde-b .botao-tabela{
	color: #3BD231;	
	border: 2px solid #3BD231;	
}

.verde-b.botao-tabela:visited{
	color: #3BD231;	
}

/* ------verde claro*/


.verde-c table {
	border: 1px solid #ABE11E;
}

.verde-c i {
	color: #ABE11E;
}
.verde-c table thead {
	background-color: #ABE11E; 
}

.verde-c .botao-tabela{
	color: #ABE11E;	
	border: 2px solid #ABE11E;	
}

.verde-c.botao-tabela:visited{
	color: #ABE11E;	
}

/* ------cinza*/

.cinza i {
	color: #464A4A;
}

/* Planos - ajustes midia querie*/

@media screen and (max-width: 990px) {
	
	.site-main-planos .col-md-4{
		padding-right: 0px !important;
    	padding-left: 0px !important;	
	}
}

@media screen and (max-width: 780px) {
	.tabela-planos {
		width: 70%;
		margin-left: 15%;
		margin-right: 15%;
	}

	.row {
    	margin-right: 0;
    	margin-left: 0;
	}

	
    
}

/*--------------------------------------------------------------
# Conteudo-pagina-sistema
--------------------------------------------------------------*/

.sistema{
	margin-top: 50px;
	margin-bottom: 50px;
	clear: both;
}

.sitema-caracteristicas{
	text-align: center;
 	font-family: "co-headline";
 	font-size: 16px;
	color: #464A4A;
	padding: 0 50px;
	height: 100%;
}

.sitema-caracteristicas-titulo span{
	border-bottom: 2px solid #f0f0f0;
	padding-bottom: 6px;
}

.sitema-caracteristicas-icone{
	margin-top: 30px;
	margin-bottom: 30px;
}

.sitema-caracteristicas-descricao{
	font-family: "interface";
 	font-size: 20px;
	color: #464A4A;
	text-align: left;
}

.sitema-caracteristicas-descricao-borda{
	width: 50%;
	height: 3px;
	background-color: #3BD231;
	text-align: left;
	margin-left: 0;
}

.sistema-como-funciona{
	background-color: #94e673;
	height: 400px; 
	margin-top: 30px;
}

.sistema-como-funciona .como-funciona-gif{
	position: relative;
	float:right;
	top: 130px;
}

/*--------------------------------------------------------------
# Conteudo-pagina-contato
--------------------------------------------------------------*/
.contato{
	margin-top: 30px;
	margin-bottom: 40px;
}

.contato .form-control:focus {
    border-color: #3BD231;
}

.contato .form-control,.input-group {
	width: 100% !important;
}

.contato .form-control{
	color: #3BD231 !important;
}

select option{
	color: #99999F;
}

select option:active{
	color: #99999F;
}

textarea {
	height: inherit;
	font-size: 18px !important;
}

form .botao-form-contato{
	background-color: #3BD231;
	font-family: "co-headline";
 	font-size: 14px;
 	color: white;
 	float: right;
 	width: 40%;
 	height: 40px;

}

.checkbox{
	font-size: 14px;
	color: #999;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

html{
  position:relative; 
  min-height: 100%;
}

#content{
 	margin-bottom:90px;
} 

.site-footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height:90px;
	background-color: #3BD231;
}

.logo-footer-image {
	margin-top: 20px;	
	margin-bottom: 10px;	
	width:120px;
}

.info-vemrir-footer p{
	padding-left: 5px;
	color: white;
	float: left;
	font-family: "interface";
	font-size: 10px;

}



/*--------------------------------------------------------------
# Place holder
--------------------------------------------------------------*/
.placeholder-descricao{
	height:200px;
	font-family: "co-headline";
	font-size: 20px;
	color: #464A4A;
	line-height: 1.1;
}

.placeholder-depoimentos{
	height:200px;
	background-color: #f5f5f5;
}

.placeholder-consultoria{
	height:300px;
	background-color: #f5f5f5;
}

.placeholder-sistema-descricao{
	height:300px;
	font-family: "co-headline";
	font-size: 28px;
	color: #464A4A;
	line-height: 0.9;

}

.placeholder-sistema-imagem{
	height:300px;
	background-color: #f5f5f5;
	border: 1px solid black;
}